.container {
   display: flex;
   flex-direction: column;
   height: 100vh;
}

.main {
   flex: 1 1 auto;
   overflow: auto;
   border: 1px solid #212121;
   padding: 5px;
}

.item-container {
   display: flex;
   align-items: center;
   text-align: center;
   border: 1px solid gray;
   border-radius: 10px;
   height: 40px;
}

.hide-border {
   border: none;
}

.currency-name {
   flex: 1 1 40%;
}

.currency-rate {
   flex: 1 1 30%;
}

.currency-date {
   flex: 1 1 30%;
}

.wrapper {
   border: 1px solid grey;
   border-radius: 10px;
}

p {
   padding-left: 10px;
}